* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondoHeader {
  background-color: #002060; }

.texto-logo {
  color: #ffb300; }

.mynav a:hover {
  border-radius: 20%;
  border-bottom: 2px solid #ffb300; }

.carrito {
  color: white; }

.titulo {
  color: #002060; }

.img-all {
  border-radius: 10%;
  padding: 1px;
  box-shadow: 0 10px 10px gray; }

.barra {
  position: fixe; }

@media (max-width: 575px) {
  .img-carousel {
    height: 350px; } }

.redes-sociales {
  padding: 10px 0;
  margin-bottom: 40px; }

.redes-sociales .icono {
  width: 40px;
  height: 40px;
  color: #fff;
  background: #cbcbcb;
  display: inline-block;
  margin: 0px 20px;
  text-decoration: none;
  border-radius: 100px;
  transition: all 3s ease; }

.redes-sociales .icono svg {
  width: 20px;
  height: 20px; }

@media (max-width: 576px) {
  .redes-sociales .icono {
    width: 30px;
    height: 30px; }
  .redes-sociales .icono svg {
    width: 25px;
    height: 25px; } }

.redes-sociales .facebook {
  background-color: #0456ee; }

.redes-sociales .linkedin {
  background-color: #0390e7; }

.redes-sociales .youtube {
  background-color: #bb2222; }

.redes-sociales .whatsapp {
  background-color: #0cd43e; }

.formulario {
  height: 150px; }

.formul {
  background-color: #e5e7ec;
  border-radius: 5%; }

.formul-campus {
  height: 300px;
  background-color: #ffb300;
  border-radius: 5%;
  margin: 128px 0; }

.img-campus {
  background-image: url("../img/Campus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .img-campus .text-aprende:hover {
    animation: efecto 3s; }

@keyframes efecto {
  0% {
    transform: translate(0vw, 0vh); }
  20% {
    transform: translate(4vw, -2vh); }
  40% {
    transform: translate(8vw, -4vh); }
  60% {
    transform: translate(12vw, -6vh); }
  80% {
    transform: translate(16vw, -8vh); }
  100% {
    transform: translate(20vw, -10vh); } }

@media (max-width: 576px) {
  .img-campus .text-aprende:hover {
    animation: efecto 3s; }
  @keyframes efecto {
    0% {
      transform: translate(0vw, 0vh); }
    20% {
      transform: translate(4vw, 2vh); }
    40% {
      transform: translate(8vw, 4vh); }
    60% {
      transform: translate(12vw, 6vh); }
    80% {
      transform: translate(16vw, 8vh); }
    100% {
      transform: translate(20vw, 10vh); } } }

.cuadro-precio {
  position: relative;
  left: auto;
  top: 1510px;
  width: 320px; }
  .cuadro-precio iframe {
    width: 290px; }

.cuadro-detalle {
  position: absolute;
  left: 0px; }

.border-gris {
  border: solid 1px gray; }

@media (min-width: 320px) {
  .cuadro-precio {
    position: relative;
    left: auto;
    top: 1260px;
    width: 340px; }
    .cuadro-precio iframe {
      width: 320px; }
  h1 {
    margin: 0 10px; }
  h3 {
    margin: 0 10px; }
  h5 {
    margin: 0 10px; }
  p {
    margin: 0 10px; }
  h4 {
    margin: 0 10px; }
  svg {
    margin: 0 15px; } }

@media (min-width: 375px) {
  .cuadro-precio {
    position: relative;
    left: auto;
    top: 1140px;
    width: 350px; } }

@media (min-width: 425px) {
  .cuadro-precio {
    position: relative;
    left: auto;
    top: 1090px;
    width: 350px; } }

@media (min-width: 576px) {
  .cuadro-precio {
    position: relative;
    left: 20px;
    top: 900px;
    width: 350px; } }

@media (min-width: 768px) {
  .cuadro-precio {
    position: relative;
    left: 20px;
    top: 620px;
    width: 350px; } }

@media (min-width: 992px) {
  .cuadro-precio {
    position: fixed;
    left: 630px;
    top: 180px;
    width: 350px; } }

@media (min-width: 1200px) {
  .cuadro-precio {
    position: fixed;
    left: 700px;
    top: 180px;
    width: 350px; } }

@media (min-width: 1440px) {
  .cuadro-precio {
    position: fixed;
    left: 1000px;
    top: 180px;
    width: 350px; } }
