.fondoHeader{
    background-color: $azul;
}

.texto-logo{
    color: $naranja;
}

.mynav a:hover{    
    border-radius: 20%;    
    border-bottom: 2px solid $naranja;
}

.carrito{
    color: white;
}

